	<!-- NAVBAR -->
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container">
				<div class="col-md-12">
				<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">EGGPLANTS 🍆</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/"><i class="fa fa-home"></i> Home</a></li>
					<li><a href="/osu"><i class="fa fa-search"></i> Beatmap Listing</a></li>					
					<li><a href="https://github.com/Swan/Eggplants" target="_blank"><i class="fa fa-github"></i> Github</a></li>
					<li><a href="https://osu.ppy.sh" target="_blank"><i class="fa fa-music"></i> osu!</a></li>				
					<li><a href="https://ripple.moe" target="_blank"><i class="fa fa-circle"></i> Ripple</a></li>															
					<li><a href="https://swan.moe" target="_blank"><i class="fa fa-code"></i> Swan</a></li>
				</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</nav>
	<!-- /NAVBAR -->