<!DOCTYPE html>
<html lang="en" id="homepageHtml">
	<!-- HEAD -->
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Eggplants</title>   
		<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans|Raleway" rel="stylesheet">
		<link rel="stylesheet" href="css/flexslider.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="icon" href="/images/eggplant.ico">
	</head>
	<!-- /HEAD -->

	<body id="homepage">

		<!-- NAV -->
		<% include partials/nav.ejs %>

		<!-- Content -->
		<section id="test">
			<div class="container">
				<br/><br/>
				<!-- HEADER CONTENT -->
				<div class="col-md-12">
					<h1 class="cent header-text">EGGPLANTS 🍆</h1>
				</div>
				<div class="col-md-12">
					<h4 class="cent-sub">An alternative site for downloading osu! beatmaps</h4>
					<h4 class="cent-sub">If you want to search for beatmaps using our listing, click <a href="/osu" id="headerlink">here</a></h4>
					<h4 class="cent-sub">Direct Download: Enter an osu! Beatmap Link to download the map!</h4>				
				</div>
				<!-- /HEADER CONTENT -->

				<!-- DIRECT DOWNLOAD FORM -->	
				<div class="col-md-12">	
					<form action="/" method="POST">
						<div class="form-group">
							<input type="text" class="form-control" id="direct-form" name="beatmap" id="direct" placeholder="Enter a beatmap link - osu.ppy.sh & new.ppy.sh are both supported!">
							<br/>
							<input type="submit" class="btn btn-primary" name="submit" value="Download">
					</form> 
					<!-- /DIRECT DOWNLOAD FORM -->

					<!-- EXTRA PAGE CONTENT -->
					<a class="btn btn-success" href="/listing"><p>Find Maps</p></a>
							<h4 class="cent-sub"><i class="fa fa-link"></i> Supported Links:</h4>
							<h5 class="cent-sub">- osu.ppy.sh/s/</h5>	
							<h5 class="cent-sub">- osu.ppy.sh/b/</h5>	
							<h5 class="cent-sub">- new.ppy.sh/s/</h5>	
							<h5 class="cent-sub">- new.ppy.sh/b/</h5>	
							<h5 class="cent-sub">- & Direct osu! IP links</h5>	
							<h4 class="cent-sub"><i class="fa fa-heart"></i> Sharing Direct Beatmap Links:</h4>	
							<h5 class="cent-sub">- eggplants.org/s/</h5>					
							<h5 class="cent-sub">- eggplants.org/b/</h5>		
							<h5 class="cent-sub">& Add the Id after the link</h5>	
							<h4 class="cent-sub"><i class="fa fa-search"></i> New & Improved Beatmap Listing Coming Soon</h4>
							<h6 class="cent-sub">Made w/ 🍆</h6>			
						</div>
				</div>
			</div>
	</section>	

		<!-- jQuery & Exta JavaScript -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.inview.js"></script>
		<script src="js/script.js"></script>	
	</body>
</html>