<div class="container">

	<h2 class="cent"><i class="fa fa-search"></i> Search For Beatmaps</h2>
	<h4 class="cent">Enter in a search query, and choose your ranked status and game mode to begin.</h4>
	<br/>

	<form name="getNewBeatmaps" ng-submit="vm.getNewBeatmaps()">
		<div class="row">
			<div class="form-group center_div">
				<div class="col-xs-4">
					<label for="searchQuery" class="main-header">Search Query</label>
					<input type="text" class="form-control" id="searchQuery" aria-describedby="emailHelp" placeholder="Search for a beatmap" ng-model="vm.search" required>
					<small id="sqHelp" class="form-text text-muted">You can search an artist, song title, or even mapper.</small>
				</div>
			</div>


			<div class="form-group center_div">
				<div class="col-xs-4">
					<label for="rankedStatus" class="main-header">Ranked Status</label>
					<select class="form-control " id="rankedStatus" ng-model="vm.rankedStatus" ng-init="vm.rankedStatus='Ranked'">
					<option value="Ranked">Ranked</option>
					<option value="Qualified">Qualified</option>
					<option value="Loved">Loved</option>
					<option value="All Maps">All Maps</option>
					</select>
					<small id="rsHelp" class="form-text text-muted">Specify the ranked status.</small>
				</div>
			</div>

			<div class="form-group center_div">
				<div class="col-xs-4">
					<label for="gameMode" class="main-header">Game Mode</label>
					<select class="form-control" id="gameMode" ng-model="vm.gameMode" ng-init="vm.gameMode='osu!'">
					<option value="osu!">osu!</option>
					<option value="Taiko">Taiko</option>
					<option value="Catch The Beat">Catch The Beat</option>
					<option value="Mania">Mania</option>
					</select>
					<small id="gmHelp" class="form-text text-muted">Specify the Game Mode.</small>
				</div>
			</div>
		</div>

		<div class="row">
			<br/>
		<center><button class="btn btn-success">Search For Beatmaps!</button></center>
		</div>

	</form>                
</div>    

