<div class="container">
	<br/>
	<h2 class="cent"><i class="fa fa-search"></i> Search For Beatmaps</h2>
	<h4 class="cent">Enter in a search query, and choose your ranked status and game mode to begin.</h4>
	<br/>

	<!-- Success Message -->
	<div ng-if="vm.newBeatmaps" class="col-lg-12">
		<div class="alert alert-success" >	
  			<span ng-if="vm.newBeatmaps.length < 100"><center><strong>Success!</strong> {{vm.newBeatmaps.length}} beatmaps were found.</center></span>
			  <span ng-if="vm.newBeatmaps.length >= 100"><center><strong>Success!</strong> {{vm.newBeatmaps.length}}+ beatmaps were found.</center></span>
		</div>
	</div>

	<!-- Error Message -->
	<div ng-if="vm.newBeatmapsData.Sets == null && vm.newBeatmapsData" class="col-lg-12">
		<div class="alert alert-danger" >	
			<center><strong>Alert!</strong> No beatmaps were found.</center>
		</div>
	</div>

	<form name="getNewBeatmaps" ng-submit="vm.getNewBeatmaps()">
		<div class="row">
			<div class="form-group center_div">
				<div class="col-xs-4">
					<label for="searchQuery" class="main-header"><i class="fa fa-wrench"></i> Search Query</label>
					<input type="text" class="form-control" id="searchQuery" aria-describedby="emailHelp" placeholder="Search for a beatmap" ng-model="vm.search" required>
					<small id="sqHelp" class="form-text text-muted">You can search an artist, song title, or even mapper.</small>
				</div>
			</div>


			<div class="form-group center_div">
				<div class="col-xs-4">
					<label for="rankedStatus" class="main-header"><i class="fa fa-star"></i> Ranked Status</label>
					<select class="form-control " id="rankedStatus" ng-model="vm.rankedStatus" ng-init="vm.rankedStatus='Ranked'">
					<option value="Ranked">Ranked</option>
					<option value="Qualified">Qualified</option>
					<option value="Loved">Loved</option>
					<option value="All Maps">All Maps</option>
					</select>
					<small id="rsHelp" class="form-text text-muted">Specify the ranked status.</small>
				</div>
			</div>

			<div class="form-group center_div">
				<div class="col-xs-4">
					<label for="gameMode" class="main-header"><i class="fa fa-gamepad"></i> Game Mode</label>
					<select class="form-control" id="gameMode" ng-model="vm.gameMode" ng-init="vm.gameMode='osu!'">
					<option value="osu!">osu!</option>
					<option value="Taiko">Taiko</option>
					<option value="Catch The Beat">Catch The Beat</option>
					<option value="Mania">Mania</option>
					</select>
					<small id="gmHelp" class="form-text text-muted">Specify the Game Mode.</small>
				</div>
			</div>
		</div>
		<div class="row">
			<br/>
		<center><button class="btn btn-success"><i class="fa fa-search"></i> Search For Beatmaps!</button></center>
		</div>
	</form>    


	<!-- Show Initial Beatmaps -->
	<div ng-if="!vm.newBeatmaps && !vm.newBeatmapsData">
		<br/>
		<div ng-repeat="beatmap in vm.initialBeatmaps track by $index">
			<div class="col-xs-12 col-sm-4 col-md-4">
				<div class="thumbnail">

					<!-- Beatmap Image -->
					<a href="http://storage.ripple.moe/{{beatmap.SetID}}.osz" target="_blank"><img class="thumb-img" style="width: 900px; height: 100px;" ng-src="https://assets.ppy.sh//beatmaps/{{beatmap.SetID}}/covers/cover.jpg?1486129185" onerror="this.onerror=null;this.src='/images/default.jpg';"></a>
					<div class="caption">
						<!-- Song Title-->
						<h4>{{beatmap.Artist | limitTo:10 }}<span ng-if="beatmap.Artist.length > 10">...</span> - {{beatmap.Title | limitTo:10 }}<span ng-if="beatmap.Title.length > 10">...</span></h4>
						<!-- Mapper & Beatmap statistics -->
						<p><a href="http://osu.ppy.sh/u/{{beatmap.Creator}}">{{beatmap.Creator | limitTo:8}}</a><span ng-if="beatmap.Creator.length > 8">...</span>
							<!-- Check if beatmap has video or not -->
							<span ng-if="beatmap.HasVideo == false" class="badge pull-right" style="background-color: #d69508; margin-right: 10px;"><i class="fa fa-video-camera"></i> No Video</span>
							<span ng-if="beatmap.HasVideo == true" class="badge pull-right" style="background-color: #188207; margin-right: 10px;"><i class="fa fa-video-camera"></i> Video</span>
							<!-- Check if beatmap is ranked -->
							<span ng-if="beatmap.RankedStatus == 1" class="badge pull-right" style="background-color: #2d9906; margin-right: 10px;"><i class="fa fa-thumbs-up"></i> Ranked</span>
							<span ng-if="beatmap.RankedStatus == 4" class="badge pull-right" style="background-color: #c90e7b; margin-right: 10px;"><i class="fa fa-thumbs-up"></i> Loved</span>
							<span ng-if="beatmap.RankedStatus == 3" class="badge pull-right" style="background-color: #d1bb1b; margin-right: 10px;"><i class="fa fa-thumbs-up"></i> Qualified</span>
							<span ng-if="beatmap.RankedStatus == -1 || beatmap.RankedStatus == -2 || beatmap.RankedStatus == 0" class="badge pull-right" style="background-color: #2eb8d1; margin-right: 10px;"><i class="fa fa-thumbs-up"></i> Unranked</span>
							<!-- Favourites -->
							<span class="badge pull-right" style="background-color: #f972e7; margin-right: 10px;"><i class="fa fa-heart"></i> {{beatmap.Favourites}}</span> 								
						</p>

						<!-- Bottom Buttons-->
						<a href="http://storage.ripple.moe/{{beatmap.SetID}}.osz" target="_blank" class="btn btn-default btn-xs pull-right" role="button"><i class="fa fa-download"></i></a> 
						<a href="http://storage.ripple.moe/{{beatmap.SetID}}.osz" target="_blank" class="btn btn-info btn-xs" role="button">Download</a> 
						<a href="http://osu.ppy.sh/s/{{beatmap.SetID}}" target="_blank" class="btn btn-default btn-xs" role="button">View on osu!</a>
					</div>
				</div>
			</div>	
		</div>
	</div>

	<!-- Show new beatmaps -->
	<div ng-if="vm.newBeatmaps">
		<br/>
		<div ng-repeat="beatmap in vm.newBeatmaps track by $index">
			<div class="col-xs-12 col-sm-4 col-md-4">
				<div class="thumbnail">

					<!-- Beatmap Image -->
					<a href="http://storage.ripple.moe/{{beatmap.SetID}}.osz" target="_blank"><img class="thumb-img" ng-src="https://assets.ppy.sh//beatmaps/{{beatmap.SetID}}/covers/cover.jpg?1486129185" onerror="this.src='/images/default.jpg';"></a>
					<div class="caption">
						<!-- Song Title-->
						<h4>{{beatmap.Artist | limitTo:10 }}<span ng-if="beatmap.Artist.length > 10">...</span> - {{beatmap.Title | limitTo:10 }}<span ng-if="beatmap.Title.length > 10">...</span></h4>
						<!-- Mapper & Beatmap statistics -->
						<p><a href="http://osu.ppy.sh/u/{{beatmap.Creator}}">{{beatmap.Creator | limitTo:8}}</a><span ng-if="beatmap.Creator.length > 8">...</span>
							<!-- Check if beatmap has video or not -->
							<span ng-if="beatmap.HasVideo == false" class="badge pull-right" style="background-color: #d69508; margin-right: 10px;"><i class="fa fa-video-camera"></i> No Video</span>
							<span ng-if="beatmap.HasVideo == true" class="badge pull-right" style="background-color: #188207; margin-right: 10px;"><i class="fa fa-video-camera"></i> Video</span>
							<!-- Check if beatmap is ranked -->
							<span ng-if="beatmap.RankedStatus == 1" class="badge pull-right" style="background-color: #2d9906; margin-right: 10px;"><i class="fa fa-thumbs-up"></i> Ranked</span>
							<span ng-if="beatmap.RankedStatus == 4" class="badge pull-right" style="background-color: #c90e7b; margin-right: 10px;"><i class="fa fa-thumbs-up"></i> Loved</span>
							<span ng-if="beatmap.RankedStatus == 3" class="badge pull-right" style="background-color: #d1bb1b; margin-right: 10px;"><i class="fa fa-thumbs-up"></i> Qualified</span>
							<span ng-if="beatmap.RankedStatus == -1 || beatmap.RankedStatus == -2 || beatmap.RankedStatus == 0" class="badge pull-right" style="background-color: #2eb8d1; margin-right: 10px;"><i class="fa fa-thumbs-up"></i> Unranked</span>
							<!-- Favourites -->
							<span class="badge pull-right" style="background-color: #f972e7; margin-right: 10px;"><i class="fa fa-heart"></i> {{beatmap.Favourites}}</span> 								
						</p>

						<!-- Bottom Buttons-->
						<a href="http://storage.ripple.moe/{{beatmap.SetID}}.osz" target="_blank" class="btn btn-default btn-xs pull-right" role="button"><i class="fa fa-download"></i></a> 
						<a href="http://storage.ripple.moe/{{beatmap.SetID}}.osz" target="_blank" class="btn btn-info btn-xs" role="button">Download</a> 
						<a href="http://osu.ppy.sh/s/{{beatmap.SetID}}" target="_blank" class="btn btn-default btn-xs" role="button">View on osu!</a>
					</div>
				</div>
			</div>	
		</div>
	</div>	



</div>    

