<div class="cover" [ngStyle]="{background: 'url(/assets/img/covers/' + coverImgNum + '.jpg)'}">
  <div class="container">
    <div class="col-md-12">
      <br><br><br><br><br>
      <h1 class="cent"> 🍆 EGGPLANTS </h1>
      <h3 class="cent"><i class="fa fa-music"></i> Beatmap Listing</h3>
      <h4 class="cent">Here, you can search for osu! beatmaps to download.</h4>
      <h4 class="cent">You don't have to be logged into osu! or deal with slow download speeds. So give it a try!</h4>
    </div>
  </div>
</div>