.thumby {
    background-color: #252525;
    border: 1px solid #000;
}

.thumby-caption {
    color: #C2C2C2;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Raleway';
    padding-bottom:10px;
}

.thumb-img {
    width: 900px; 
    height: 100px;
}

.no-video {
    background-color: #d69508; 
    margin-right: 10px;
}

.has-video {
    background-color: #188207; 
    margin-right: 10px;
}

.ranked {
    background-color: #2d9906; 
    margin-right: 10px;
}

.loved {
    background-color: #c90e7b; 
    margin-right: 10px;    
}

.unranked {
    background-color: #2eb8d1; 
    margin-right: 10px;
}

.qualified {
    background-color: #AE5CE6;
    margin-right: 10px;
}

.favourites {
    background-color: #f972e7; 
    margin-right: 10px;
}