<div class="container-fluid">
  <div *ngFor="let beatmap of beatmapListService.currentBeatmaps | async">
    <div class="col-xs-12 col-sm-12 col-lg-3">
      <div class="thumbnail thumby">

        <!-- Cover Image -->
        <a href="http://eggplants.org/s/{{beatmap.SetID}}" target="_blank">
          <img class="thumb-img" src="https://assets.ppy.sh//beatmaps/{{beatmap.SetID}}/covers/cover.jpg?1486129185">
        </a>

        <div class="caption">

          <!-- Artist, Title, & Creator -->
          <h4 class="thumby-caption">{{beatmap.Artist}} - {{beatmap.Title}}</h4>
          <div>
            <a href="https://osu.ppy.sh/u/{{beatmap.Creator}}" class="pull-left">{{beatmap.Creator}}</a>

            <!-- Has Video? -->
            <div *ngIf="!beatmap.HasVideo"><span class="badge pull-right no-video"><i class="fa fa-video-camera"></i> No Video</span></div>
            <div *ngIf="beatmap.HasVideo"><span class="badge pull-right has-video"><i class="fa fa-video-camera"></i> Video</span></div>

            <!-- Ranked Status? -->
            <div *ngIf="beatmap.RankedStatus == -1 || beatmap.RankedStatus == -2 || beatmap.RankedStatus == 0"><span class="badge pull-right loved"><i class="fa fa-thumbs-up"></i> Unranked</span></div>            
            <div *ngIf="beatmap.RankedStatus == 1"><span class="badge pull-right ranked"><i class="fa fa-thumbs-up"></i> Ranked</span></div>
            <div *ngIf="beatmap.RankedStatus == 3"><span class="badge pull-right qualified"><i class="fa fa-thumbs-up"></i> Qualified</span></div>          
            <div *ngIf="beatmap.RankedStatus == 4"><span class="badge pull-right loved"><i class="fa fa-thumbs-up"></i> Loved</span></div>


            <!-- Favourites Badge -->
            <span class="badge pull-right favourites"><i class="fa fa-heart"></i> {{beatmap.Favourites}}</span>
          </div>

          <br/><br/>

          <!-- Download & Viewing Buttons -->
          <a href="http://eggplants.org/s/{{beatmap.SetID}}" target="_blank" class="btn btn-default btn-xs pull-right" role="button"><i class="fa fa-download"></i></a>
          <a href="http://eggplants.org/s/{{beatmap.SetID}}" target="_blank" class="btn btn-info btn-xs" role="button">Download</a>
          <a href="https://osu.ppy.sh/s/{{beatmap.SetID}}" target="_blank" class="btn btn-danger btn-xs" role="button">View on osu!</a>
        </div>
      </div>
    </div>
  </div>
</div>


